# Ignore artifacts:
build
coverage

node_modules/
# Ignore build artifacts
build/
dist/
out/

# Ignore test files
**/*.test.ts
**/*.spec.ts

# Ignore configuration files
babel.config.js
jest.config.js
webpack.config.js
.eslintrc.cjs
.prettierrc.json